[submodule "src/games/tower-defense"]
	path = src/games/tower-defense
	url = git@github.com:casmo/tower-defense.git
[submodule "src/games/space-gpt"]
	path = src/games/space-gpt
	url = git@github.com:Casmo/SpaceGPT.git
[submodule "src/games/bombergirl"]
	path = src/games/bombergirl
	url = git@github.com:Couchfriends/html5-bombergirl.git
[submodule "src/api"]
	path = src/api
	url = git@github.com:Couchfriends/Controller-API.git
[submodule "src/controller"]
	path = src/controller
	url = git@github.com:Couchfriends/Controller.git
[submodule "src/games/space-shooter"]
	path = src/games/space-shooter
	url = git@github.com:Couchfriends/Space-Shooter.git
[submodule "src/games/drakonas"]
	path = src/games/drakonas
	url = git@github.com:Casmo/Drakonas.git
[submodule "src/games/js-48-tower-defense"]
	path = src/games/js-48-tower-defense
	url = git@github.com:Casmo/js48-1-game.git
[submodule "src/games/pinbreak"]
	path = src/games/pinbreak
	url = git@github.com:Casmo/pinbreak.git
[submodule "src/games/breakout"]
	path = src/games/breakout
	url = git@github.com:Couchfriends/breakout.git
[submodule "src/games/asteroids"]
	path = src/games/asteroids
	url = git@github.com:Couchfriends/HTML5-Asteroids.git
[submodule "src/games/soccer"]
	path = src/games/soccer
	url = git@github.com:Couchfriends/soccer.git
