@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PixelifySans';
    font-style: normal;
    src: url(/src/fonts/PixelifySans-Regular.ttf) format('woff2');
}
@font-face {
    font-family: 'PixelifySans';
    font-weight: bold;
    src: url(/src/fonts/PixelifySans-Bold.ttf) format('woff2');
}
body {
    font-family: PixelifySans;
}
  