@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PixelifySans';
    font-style: normal;
    src: url(/src/fonts/PixelifySans-Regular.ttf) format('woff2');
}
@font-face {
    font-family: 'PixelifySans';
    font-weight: bold;
    src: url(/src/fonts/PixelifySans-Bold.ttf) format('woff2');
}
body {
    font-family: PixelifySans;
}

.bounce {
    animation: bounce 2s ease infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(-5px);}
    50% {transform: translateX(2px);}
    60% {transform: translateX(-2px);}
}